<section th:replace="/view_admin/fragment/header"></section>
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4" >
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3" style="position: relative">
                        <h6 class="text-white text-capitalize ps-3">Quản lý tài khoản </h6>
                        <a style="position: absolute;right: 1%;bottom: 20%;" type="button" data-toggle="modal" data-target="#exampleModal">
                            <i class="material-icons text-3xl me-2" style="color: white">add</i>
                        </a>
                    </div>
                </div>
                <div class="card-body px-0 pb-2" >
                    <nav class="navbar navbar-light bg-light" style="float: right;right: 20px;margin-bottom: 15px;background: none;border-radius: 10px;">
                        <form class="form-inline" id="formSearch">
                            <input class="form-control mr-sm-2" id="search" type="search" placeholder="Search" aria-label="Search">
                            <button  class="btn my-2 my-sm-0" style="color: white;background:#e33c76;">Search</button>
                        </form>
                    </nav>
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0" >
                            <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Tên tài khoản</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">email</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Người tạo</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ngày tạo</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Hành động</th>
                            </tr>
                            </thead>
                            <tbody  id="example">

                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="mt-5" style="position: relative;height: 100px;" >
        <ul class="pagination" style="position: absolute;left: 40% ; top: -20px" id="pagination_z">

        </ul>

    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="post" class="modal-content" th:action="@{/user/create_update_user}" th:object="${categoryDto}">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lưu mới khách hàng </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="username">Tài khoản</label>
                    <input type="text" name="username" class="form-control" id="username" required>
                </div>
                <div class="form-group">
                    <label for="fullname">Họ và tên</label>
                    <input type="text" name="fullname" class="form-control" id="fullname" required>
                </div>
                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="text" name="email" class="form-control" id="email" required>
                </div>
                <div class="form-group">
                    <label for="username">Mật khẩu</label>
                    <input type="text" name="password" class="form-control" id="password" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
            </div>
        </form>
    </div>
</div>
<script>
    $("#user_view").addClass("active bg-gradient-primary");
    var pageIndex = 0;
    var totalPage;
    var textSearch;

    document.getElementById('formSearch').addEventListener('submit', function(e){
        e.preventDefault();
        textSearch = document.getElementById("search").value;
        searchPage();
    });
    function searchPage() {
        var bodyData = {
            pageIndex : null,
            pageSize : null,
            textSearch : null,
            sort : null
        };
        bodyData.pageIndex = pageIndex;
        bodyData.pageSize = 5;
        bodyData.textSearch = textSearch;
        $.ajax({
            url: '/user/searchPage',
            type: 'Post',
            data: bodyData,
            success: function (result) {
                console.log("sa",result);
                totalPage = result.totalPages;
                $('#example').empty();

                result.content.forEach(p =>
                    {
                        $('#example').append(`
                     <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm" >${p.username}</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm" >${p.email}</h6>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold" >${p.createBy}</span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold" >${p.createDate}</span>
                                </td>

                                <td>
                                 <div style="display: flex;justify-content: center">
                                        <form style="margin-left: 10px"  method="get"  action="/user/remove_user/${p.id}">
                                            <button class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;"><i class="material-icons text-sm me-2">delete</i>Delete</button>
                                        </form>
                                        <form  method="get"  action="/user/user_detail/${p.id}">
                                            <button class="btn btn-link text-dark px-3 mb-0" href="javascript:;"><i class="material-icons text-sm me-2">edit</i>Edit</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                `);
                    }
                );
                $("#pagination_z").empty();
                $("#pagination_z").append(`
                   <li class="page-item ">
                                  <button onclick="prevPage()" style="background: none;border: none">
                                      <a class="page-link" href="javascript:;">
                                        <span class="material-icons">
                                          keyboard_arrow_left
                                        </span>
                                          <span class="sr-only">Previous</span>
                                      </a>
                                  </button>
                                </li>
                `);
                for(var i=1;i <= result.totalPages; i++){
                    if(i == result.number + 1){
                        $("#pagination_z").append(`
                            <li class="page-item active">
                                <button class="page-link active" onclick="redirectPage(this.value -1)" value="${i}">${i}</button>
                             </li>
                    `);
                    }
                    else{
                        $("#pagination_z").append(`
                      <li class="page-item">
                                <button class="page-link" onclick="redirectPage(this.value -1)" value="${i}">${i}</button>
                             </li>
                    `);
                    }
                }
                $("#pagination_z").append(`
                    <li class="page-item">
                                    <button onclick="nextPage()" style="background: none;border: none">
                                        <a class="page-link" href="javascript:;">
                                        <span class="material-icons">
                                          keyboard_arrow_right
                                        </span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </button>
                                </li>
                `);
                console.log(result)
            }
            ,
            error: function (error) {
                console.log(error)
                alert(error)
            }
        });
    }

    function redirectPage(value){
        pageIndex = value;
        searchPage();
    }
    function prevPage(){
        pageIndex = pageIndex - 1;
        if(pageIndex == -1){
            pageIndex = totalPage -1;
        }
        searchPage();
    }
    function nextPage(){
        pageIndex = pageIndex + 1;
        if(pageIndex == totalPage){
            pageIndex = 0;
        }
        searchPage();
    }
    $(document).ready(function (){
        searchPage();
    })
</script>
<section th:replace="/view_admin/fragment/footer"></section>